body{
    background-color: #EEEEEE;
}

.navbar-nav{
    color: white;
}

.card{
    background-color: #EEEEEE;

}

.card-img-top{
    transition-timing-function: ease-in-out;
    transition: .5s;

}

.card-img-top:hover{
    transform: scale(1.045);
}

