.u-section-1 .u-sheet-1 {
  min-height: 648px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 46px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 573px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 473px;
  width: 324px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 573px;
}

.u-section-1 .u-container-layout-2 {
  padding: 13px 162px 13px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 194px 0 0;
}

.u-section-1 .u-text-2 {
  margin-top: 20px;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  text-align: left;
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 18px 31px 19px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-1 .u-image-1 {
    height: 412px;
    width: 282px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-1 .u-image-1 {
    height: 316px;
    width: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 648px;
  }

  .u-section-1 .u-image-1 {
    height: 548px;
    width: 391px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-1 .u-image-1 {
    height: 400px;
    width: 274px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}